<mat-card>
    <div class="column-left">
        <p id="dateRange">{{ startDate() }} - {{ endDate() }}</p>
    </div>
    <div class="column-right">
        <mat-card-header>
            <mat-card-title>
                {{ jobTitle() }} &#x2022; {{ companyName() }}
                <span class="icon">&#8599;</span>
            </mat-card-title>            
        </mat-card-header>
        <mat-card-content>
            {{ jobDescription() }}
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </div>
</mat-card>
