mat-card {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    /* border: 3px solid black; */
    border: 3px solid white;
    border-radius: 8px;
    padding: 16px;
    margin-left: 9%;
    margin-right: 9%;
    /* margin-top: 2%; */
    margin-bottom: 2%;
}

.card-content {
    display: flex;
    width: 100%;
}

#dateRange {
    font-size: 10px !important;
}

.column-left {
    flex: 1;
    max-width: 20%;
    /* border: 2px solid green; */
    margin-right: 16px;
}

.column-right {
    flex: 3;
    /* border: 2px solid blue; */
}

mat-card-title {
    font-size: 15px;
}

mat-card-content {
    font-size: 13px
}

p {
    padding-top: 20%
}
