mat-card {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    border: none;
    border-radius: 8px;
    padding: 16px;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}

mat-card:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

mat-card-title {
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s ease;
    color: white;
}

mat-card:hover mat-card-title {
    color: #FFD700;
}

mat-card-title .icon {
    display: inline-block;
    transition: transform 0.3s ease;
    position: relative;
}

mat-card:hover mat-card-title .icon {
    transform: translate(5px, -5px);
}

.card-content {
    display: flex;
    width: 100%;
}

#dateRange {
    font-size: 10px !important;
}

.column-left {
    flex: 1;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.column-right {
    flex: 3;
}

mat-card-title {
    font-size: 15px;
}

mat-card-content {
    font-size: 13px;
}

p {
    padding-top: 20%;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 4px; /* Optional: rounded edges for the logo */
}

a {
    text-decoration: none;
}