<a routerLink=""><p>&#8592; All Projects</p></a>

<h1>{{ projectDetails.name }}</h1>
<p><strong>Description:</strong> {{ projectDetails.description }}</p>
<p><strong>Year:</strong> {{ projectDetails.year }}</p>
<p><strong>Made At:</strong> {{ projectDetails.madeAt }}</p>
<p><strong>Built With:</strong> {{ projectDetails.builtWith }}</p>
<p><a [href]="projectDetails.link" target="_blank">Visit Project</a></p>
<img *ngIf="projectDetails.image" [src]="projectDetails.image" alt="{{ projectDetails.name }}">



