body {
  background-color: rgb(15, 15, 15);
}

h3,
h4,
p,
li {
  font-family: "Inconsolata", monospace;
}

/*Intro Section*/
.intro-lettering {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 45px;
  padding-top: 200px;
  padding-bottom: 300px;
  color: white;
}

.intro-button {
  color: red;
  border-color: red;
  border-radius: 8px;
  border: 1px solid;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 95%;
  background-color: rgb(15, 15, 15);
  z-index: -1;
}

/*About Section*/
/*Next Steps: 
1. Need to figure out how to fix tech-image div to just wrap image*/

.about-title,
.projects-title,
.project-title,
.experience-title,
.contact-title {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  font-size: 38px;
  color: rgb(30, 215, 96);
}

.about-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personal-image {
  padding-top: 5px;
  display: inline-block;
  text-align: center;
}

.headshot {
  width: 45%;
  justify-content: center;
  border-radius: 12%;
}

.personal-description {
  padding-left: 25%;
  padding-right: 25%;
  color: white;
}

.familiar-tech {
  display: flex;
  justify-content: space-between;
}

.left-about-column,
.middle-about-column,
.right-about-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-about-column {
  text-align: center;
  justify-content: center;
}

.middle-about-column {
  text-align: center;
  justify-content: center;
}

.right-about-column {
  text-align: center;
  justify-content: center;
}

.python-block,
.js-block,
.html-block,
.css-block,
.git-block,
.c-block,
.react-block {
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid rgb(30, 215, 96);
  border-radius: 18px;
  margin-bottom: 10%;
}

.tech-image {
  display: inline-block;
}

.tech-name-placeholder {
  display: inline-block;
  margin-top: 0;
}

.tech-name {
  display: inline-block;
  margin-top: 0;
  color: white;
}

.python,
.js {
  width: 30%;
}

.html,
.css,
.git {
  width: 30%;
}

.cplusplus {
  width: 28%;
}

.react {
  width: 38%;
}

/*Experience Section*/
h3,
h4 {
  margin-top: 5px;
  margin-bottom: 2px;
  color: white;
}

.experience-left {
  position: relative;
  display: flex;
  box-sizing: inherit;
  padding-bottom: 8%;
}

.experience-left-image-container-steelcase {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  margin: 0;
  box-sizing: inherit;
  background-color: rgb(30, 215, 96);
  padding-top: 25%;
  position: relative;
}

.experience-left-image-container-strikes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  box-sizing: inherit;
  background-color: rgb(30, 215, 96);
  padding-top: 25%;
  position: relative;
}

.experience-left-steelcase {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-80%, -50%);
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.mobile-experience-steelcase {
  display: none;
}

.experience-left-strikes {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-80%, -50%);
  max-width: 50%;
  width: auto;
  height: auto;
  box-sizing: border-box;
  border-radius: 15px;
}

.experience-left-description {
  left: 2rem;
  padding-right: 35px;
  width: fit-content;
  position: relative;
  top: 60%;
  height: fit-content;
  margin: 0;
  box-sizing: inherit;
  padding-top: 5%;
  color: white;
}

.experience-right {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 14px;
  box-sizing: inherit;
  padding-bottom: 8%;
}

.experience-right-image-container-elevate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  margin: 0;
  box-sizing: inherit;
  background-color: rgb(30, 215, 96);
  padding-top: 25%;
  position: relative;
}

.experience-right-elevate {
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translate(80%, -50%);
  max-width: 50%;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.experience-right-description {
  margin-left: 6rem;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  position: relative;
  top: 60%;
  height: fit-content;
  padding-top: 5%;
  margin: 0;
  box-sizing: inherit;
  color: white;
}

/*Project Section*/
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.project-info-title {
  font-weight: 800;
  font-size: 22px;
}

.project-info-title,
.project-info-description {
  color: white;
}

.project-container {
  flex: 1;
  border: 5px solid rgb(30, 215, 96);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
}

.brickBreaker-image {
  padding-top: 15%;
  width: 50%;
}

.screenShot-image {
  width: 30%;
  border-radius: 18px;
}

.website-image {
  width: 50%;
}

.game-image {
  width: 50%;
}

/*Contact Section*/
.contact {
  padding-bottom: 2%;
}

.contact-title {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  font-size: 38px;
}

.contact-title {
  text-align: center;
}

.contact-info {
  text-align: center;
  color: white;
}

.name-box,
.email-box,
.message-box,
.button {
  text-align: center;
}

.contact-button {
  justify-content: center;
}

/*Footer Section*/
.socialIcons {
  padding: 2%;
  background-color: rgb(20, 25, 27);
  text-align: center;
}

.name,
.email,
.message {
  margin-bottom: 5px;
  font-size: 15px;
  width: 30%;
}

.name,
.email {
  height: 30px;
}

.message {
  padding-bottom: 90px;
}

.button {
  padding-top: 20px;
}

.fa-linkedin,
.fa-github,
.fa-instagram,
.fa-envelope {
  color: white;
  font-size: 50px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  /*Intro Section*/
  .intro {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 30px;
  }

  .intro-lettering {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 110px;
    color: white;
  }

  .intro-button {
    color: red;
    border-color: red;
    border-radius: 8px;
    border: 1px solid;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 17px;
    padding-right: 17px;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 94%;
    background-color: rgb(15, 15, 15);
    z-index: -1;
  }

  /*About Section*/
  .about-title,
  .projects-title,
  .project-title,
  .experience-title,
  .contact-title {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 800;
    font-size: 30px;
  }

  .about-description {
    display: block;
  }

  .personal-image {
    padding-top: 5px;
    display: inline-block;
    text-align: center;
  }

  .headshot {
    width: 50%;
    justify-content: center;
    border-radius: 12%;
  }

  .personal-description {
    padding-left: 10%;
    padding-right: 10%;
  }

  /*Experience Section*/

  h3,
  h4 {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .mobile-experience {
    display: block;
    text-align: center;
  }

  .mobile-experience-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-left-description {
    left: -2rem;
    margin-right: -1rem;
    width: fit-content;
    position: relative;
    top: 60%;
    height: fit-content;
    margin: 0;
    box-sizing: inherit;
    padding-top: 5%;
    color: white;
  }

  .experience-right-description {
    right: -4rem;
    margin-left: -3rem;
    width: fit-content;
    position: relative;
    top: 60%;
    height: fit-content;
    padding-top: 5%;
    margin: 0;
    box-sizing: inherit;
    color: white;
    order: 2;
    width: 100%;
    margin-right: 130px;
  }

  .experience-job-title-steelcase {
    margin-left: 120px;
    align-items: center;
  }

  .experience-job-elevate,
  .experience-date-elevate,
  .experience-city-elevate {
    text-align: left; /* Align the text with the container */
    display: block;
    white-space: nowrap; /* Keep text on a single line */
    width: calc(100% - 260px); /* Adjust width based on margins */
    margin: 0 auto; /* Center the text */
    overflow: visible; /* Allow text to overflow but remain on one line */
  }

  .experience-job-elevate {
    padding-right: 210px;
  }

  .experience-date-elevate {
    padding-right: 50px;
  }

  .experience-city-elevate {
    padding-right: 80px;
  }

  .experience-job-title-strikes {
    margin-left: 120px;
    align-items: center;
  }

  .mobile-experience-image-container-steelcase {
    margin-left: 70px;
    margin-top: 50px;
  }

  .mobile-experience-image-container-strikes {
    margin-left: 5px;
    margin-top: 30px;
  }

  .experience-description-steelcase {
    margin-left: 90px;
  }

  h4,
  .experience-description-strikes {
    margin-left: 120px;
  }

  .mobile-experience-image-container-steelcase {
    background-color: transparent;
    text-align: center;
    padding-top: 0;
  }

  .mobile-experience-image-container-elevate {
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .experience-description-elevate {
    margin-left: 0;
    text-align: center;
  }

  .mobile-experience-image-container-strikes {
    background-color: transparent;
    text-align: center;
    padding-left: 60px;
  }

  .experience-left-steelcase {
    display: none;
  }

  .mobile-experience-steelcase {
    display: inline-block;
    width: 100%;
  }

  .mobile-experience-elevate {
    width: 100%;
    padding-right: 20px;
  }

  .mobile-experience-strikes {
    width: 100%;
  }

  /*Projects Section*/
  .projects {
    display: block;
  }

  .project-row {
    display: block;
  }

  .project-container {
    flex: 1;
    border: 5px solid green;
    text-align: center;
    border-radius: 8px;
    margin-top: 25px;
  }

  .brickBreaker-image {
    padding-top: 5px;
    width: 60%;
    border-radius: 4px;
  }

  .screenShot-image {
    width: 35%;
    border-radius: 10px;
  }

  .website-image {
    width: 75%;
  }

  .game-image {
    width: 75%;
  }

  .name,
  .email,
  .message {
    margin-bottom: 7px;
    font-size: 12px;
    width: 70%;
  }

  .fa-linkedin,
  .fa-github,
  .fa-instagram,
  .fa-envelope {
    font-size: 40px;
    margin-right: 12px;
  }
}
