<nav id="navbar">
    <ul>
      <li>
        <a
          href="javascript:void(0);"
          [class.active]="activeSection === 'about'"
          (click)="scrollToSection('about')"
          >About</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0);"
          [class.active]="activeSection === 'education'"
          (click)="scrollToSection('education')"
          >Education</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0);"
          [class.active]="activeSection === 'experience'"
          (click)="scrollToSection('experience')"
          >Experience</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0);"
          [class.active]="activeSection === 'projects'"
          (click)="scrollToSection('projects')"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
  