th,
td {
  color: black;
}

.table-container {
    width: 85%;
    margin: 0 auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    background-color: white !important;
    color: black !important;
    border-collapse: collapse;
  }
  
  th {
    font-weight: bold;
    padding: 8px 16px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  
  td {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  tr:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .table-container {
      width: 100%;
    }
  
    table {
      width: 100%;
    }
  }  