<section>
  <h1>Tyler Arista</h1>
  <h3>SWE Intern at Steelcase</h3>
  <p>I build accessible, pixel-perfect digital experiences for the web</p>
  <div class="social-media">
    <a href="https://www.instagram.com/t_arista13/">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/tyler-arista/">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/tarista13">
      <i class="bi bi-github"></i>
    </a>
  </div>
</section>
<aside>
  <div class="about">
    <p>First Paragraph</p>
    <p>Second Paragraph</p>
    <p>Third Paragraph</p>
  </div>
  <div class="education">
    <app-education
    [schoolName]="'Calvin University'"
    [major]="'Computer Science'"
    [minor]="'Data Science'"
    [graduationDate]="'May 2025'"
    [location]="'Grand Rapids, MI'"
    [relatedCourses]="'Add them later'">
    </app-education>
  </div>
  <div class="experience">
    <app-job-card
    [jobTitle]="'Software Engineer Intern'"
    [companyName]="'Steelcase'"
    [location]="'Grand Rapids, MI'"
    [startDate]="'May 2024'"
    [endDate]="'Present'"
    [jobDescription]="'Fill In'">
    </app-job-card>
    <app-job-card
    [jobTitle]="'CyberSecurity Intern'"
    [companyName]="'Steelcase'"
    [location]="'Grand Rapids, MI'"
    [startDate]="'May 2023'"
    [endDate]="'Aug 2023'"
    [jobDescription]="'Fill In'">
    </app-job-card>
    <app-job-card
    [jobTitle]="'Elevate Small Group Leader'"
    [companyName]="'Willow Creek Community Church'"
    [location]="'South Barrington, IL'"
    [startDate]="'Aug 2018'"
    [endDate]="'Apr 2021'"
    [jobDescription]="'Fill In'">
    </app-job-card>
    <app-job-card
    [jobTitle]="'Catching Camp Instructor'"
    [companyName]="'Strikes Baseball Academy'"
    [location]="'Broadview, IL'"
    [startDate]="'Nov 2020'"
    [endDate]="'Jan 2021'"
    [jobDescription]="'Fill In'">
    </app-job-card>
  </div>
  <div class="projects">
    <app-project-card
    [name]="'Music Translator'"
    [subtitle]="'CS336 Final Project'"
    [description]="'Fill In'">
    </app-project-card>
    <app-project-card
    [name]="'Calvin Electronic Medical Record'"
    [subtitle]="'Senior Project'"
    [description]="'Fill In'">
    </app-project-card>
    <app-project-card
    [name]="'Baseball Analytics'"
    [subtitle]="'Personal Project'"
    [description]="'Fill In'">
    </app-project-card>
    <app-project-card
    [name]="'Mindful Knights'"
    [subtitle]="'CS262 Project'"
    [description]="'Fill In'">
    </app-project-card>
    <app-project-card
    [name]="'Brick Breaker'"
    [subtitle]="'CS108 Final Project'"
    [description]="'Fill In'">
    </app-project-card>
  </div>
</aside>
<footer>
</footer>
