@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@500&family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li,
a,
p{
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 2%;
    border-bottom:2px solid blue;
}

.logo{
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    color: white;
}

.pages{
    list-style: none;
}

.pages li{
    display: inline-block;
    padding: 0px 20px;
}

.pages li a{
    transition: all 0.3s ease 0s;
}

.pages li a:hover{
    color: cyan;
}

.explain{
    margin-left: 25px;
    margin-top: 45px;
    text-align: center;
    color: white;
}

img{
    width: 100%;
    border-radius: 12px;
    height: 175px;
    object-fit: cover;
}

#Extracurricular,
#interests{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    display: inline-flex;
    text-align: center;
}

.card{
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    margin: 20px;
}

.tag{
    padding: 4px 8px;
    border: 1px solid #e5eaed;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    color: #788697;
}

p{
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.cardDetails{
    padding: 16px 8px 8px 8px;
}

footer{
    background-color: red;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 60%;
}

.socialIcons a i{
    font-size: 2em;
}

.socialIcons a:hover{
    background-color: #111;
}

