mat-card {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    border: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 9%;
}

#dateRange {
    font-size: 10px !important;
}

.card-content {
    display: flex;
    width: 100%;
}

.column-left {
    flex: 1;
    max-width: 20%;
    border: 2px solid green;
    margin-right: 16px;
}

img {
    width: 100%;
    height: auto;   
    display: block;
}

.image {
    width: 100%;
    max-width: 100%;
    text-align: center;
}


.column-right {
    flex: 3;
    border: 2px solid blue;
}
