<mat-card>
    <div class="column-left">
        <mat-card-content>
            <img alt="Institution Image" [src]="'imageSrc'">
            <p id="dateRange">{{ graduationDate() }}</p>
        </mat-card-content>
    </div>
    <div class="column-right">
        <mat-card-header>
            <mat-card-title>{{ schoolName() }}</mat-card-title>
            <mat-card-subtitle>{{ major() }} | {{ minor() }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ relatedCourses() }}</p>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </div>
</mat-card>

