html, body, i, a {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif !important;
    font-feature-settings: "liga" 1, "calt" 1;
    background-color: rgb(16,28,57) !important;
    color: white !important;
  }
  
  @supports (font-variation-settings: normal) {
    html, body {
      font-family: "InterVariable", sans-serif !important;
    }
  }
  
  :root {
    --bs-body-font-family: "Inter", sans-serif; 
  }
  
  .mat-typography, .mat-body, .mat-tree-node, .mat-button, .mat-body-2 {
    font-family: "Inter", sans-serif !important;
  }
  
  * {
    font-family: "Inter", sans-serif !important;
  }
  
  body {
    font-family: "Inter", sans-serif !important;
  }
  